@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.custom-card {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #848484bf;
  border: solid 1px #dadada;
  background-color: #fff;

  font-size: 14px;
}